NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Shopify Storefront API Configurations
NEXT_PUBLIC_SHOPIFY_STORE_DOMAIN="your-store-name.myshopify.com"
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN="your_storefront_access_token"

# Shopify Admin API Access Token (Private Server-Side)
SHOPIFY_ADMIN_ACCESS_TOKEN="your_admin_access_token"

# Stripe Configuration
STRIPE_SECRET_KEY="your_stripe_secret_key"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="your_stripe_publishable_key"

# Google Sheets CMS Configurations
NEXT_PUBLIC_BLOGS_SHEET_ID="your_blogs_sheet_id_or_web_csv_url"
NEXT_PUBLIC_FAQS_SHEET_ID="your_faqs_sheet_id_or_web_csv_url"



